.vs/slnx.sqlite
node_modules/.package-lock.json
node_modules/@google/generative-ai/LICENSE
node_modules/@google/generative-ai/package.json
node_modules/@google/generative-ai/README.md
node_modules/@google/generative-ai/dist/generative-ai.d.ts
node_modules/@google/generative-ai/dist/index.js
node_modules/@google/generative-ai/dist/index.js.map
node_modules/@google/generative-ai/dist/index.mjs
node_modules/@google/generative-ai/dist/index.mjs.map
node_modules/@google/generative-ai/dist/tsdoc-metadata.json
node_modules/@google/generative-ai/dist/scripts/check-format.d.ts
node_modules/@google/generative-ai/dist/scripts/format-patterns.d.ts
node_modules/@google/generative-ai/dist/scripts/license.d.ts
node_modules/@google/generative-ai/dist/scripts/run-format.d.ts
node_modules/@google/generative-ai/dist/server/index.js
node_modules/@google/generative-ai/dist/server/index.js.map
node_modules/@google/generative-ai/dist/server/index.mjs
node_modules/@google/generative-ai/dist/server/index.mjs.map
node_modules/@google/generative-ai/dist/server/server.d.ts
node_modules/@google/generative-ai/dist/server/scripts/check-format.d.ts
node_modules/@google/generative-ai/dist/server/scripts/format-patterns.d.ts
node_modules/@google/generative-ai/dist/server/scripts/license.d.ts
node_modules/@google/generative-ai/dist/server/scripts/run-format.d.ts
node_modules/@google/generative-ai/dist/server/src/errors.d.ts
node_modules/@google/generative-ai/dist/server/src/gen-ai.d.ts
node_modules/@google/generative-ai/dist/server/src/index.d.ts
node_modules/@google/generative-ai/dist/server/src/methods/chat-session.d.ts
node_modules/@google/generative-ai/dist/server/src/methods/chat-session-helpers.d.ts
node_modules/@google/generative-ai/dist/server/src/methods/count-tokens.d.ts
node_modules/@google/generative-ai/dist/server/src/methods/embed-content.d.ts
node_modules/@google/generative-ai/dist/server/src/methods/generate-content.d.ts
node_modules/@google/generative-ai/dist/server/src/models/generative-model.d.ts
node_modules/@google/generative-ai/dist/server/src/requests/request.d.ts
node_modules/@google/generative-ai/dist/server/src/requests/request-helpers.d.ts
node_modules/@google/generative-ai/dist/server/src/requests/response-helpers.d.ts
node_modules/@google/generative-ai/dist/server/src/requests/stream-reader.d.ts
node_modules/@google/generative-ai/dist/server/src/server/cache-manager.d.ts
node_modules/@google/generative-ai/dist/server/src/server/constants.d.ts
node_modules/@google/generative-ai/dist/server/src/server/file-manager.d.ts
node_modules/@google/generative-ai/dist/server/src/server/index.d.ts
node_modules/@google/generative-ai/dist/server/src/server/request.d.ts
node_modules/@google/generative-ai/dist/server/types/content.d.ts
node_modules/@google/generative-ai/dist/server/types/enums.d.ts
node_modules/@google/generative-ai/dist/server/types/function-calling.d.ts
node_modules/@google/generative-ai/dist/server/types/index.d.ts
node_modules/@google/generative-ai/dist/server/types/requests.d.ts
node_modules/@google/generative-ai/dist/server/types/responses.d.ts
node_modules/@google/generative-ai/dist/server/types/search-grounding.d.ts
node_modules/@google/generative-ai/dist/server/types/server/caching.d.ts
node_modules/@google/generative-ai/dist/server/types/server/files.d.ts
node_modules/@google/generative-ai/dist/server/types/server/index.d.ts
node_modules/@google/generative-ai/dist/server/types/server/shared.d.ts
node_modules/@google/generative-ai/dist/src/errors.d.ts
node_modules/@google/generative-ai/dist/src/gen-ai.d.ts
node_modules/@google/generative-ai/dist/src/index.d.ts
node_modules/@google/generative-ai/dist/src/methods/chat-session.d.ts
node_modules/@google/generative-ai/dist/src/methods/chat-session-helpers.d.ts
node_modules/@google/generative-ai/dist/src/methods/count-tokens.d.ts
node_modules/@google/generative-ai/dist/src/methods/embed-content.d.ts
node_modules/@google/generative-ai/dist/src/methods/generate-content.d.ts
node_modules/@google/generative-ai/dist/src/models/generative-model.d.ts
node_modules/@google/generative-ai/dist/src/requests/request.d.ts
node_modules/@google/generative-ai/dist/src/requests/request-helpers.d.ts
node_modules/@google/generative-ai/dist/src/requests/response-helpers.d.ts
node_modules/@google/generative-ai/dist/src/requests/stream-reader.d.ts
node_modules/@google/generative-ai/dist/src/server/cache-manager.d.ts
node_modules/@google/generative-ai/dist/src/server/constants.d.ts
node_modules/@google/generative-ai/dist/src/server/file-manager.d.ts
node_modules/@google/generative-ai/dist/src/server/index.d.ts
node_modules/@google/generative-ai/dist/src/server/request.d.ts
node_modules/@google/generative-ai/dist/types/content.d.ts
node_modules/@google/generative-ai/dist/types/enums.d.ts
node_modules/@google/generative-ai/dist/types/function-calling.d.ts
node_modules/@google/generative-ai/dist/types/index.d.ts
node_modules/@google/generative-ai/dist/types/requests.d.ts
node_modules/@google/generative-ai/dist/types/responses.d.ts
node_modules/@google/generative-ai/dist/types/search-grounding.d.ts
node_modules/@google/generative-ai/dist/types/server/caching.d.ts
node_modules/@google/generative-ai/dist/types/server/files.d.ts
node_modules/@google/generative-ai/dist/types/server/index.d.ts
node_modules/@google/generative-ai/dist/types/server/shared.d.ts
node_modules/@google/generative-ai/server/package.json
